@use "../sass/abstract/" as *;

.common-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0px;
    .span-box {
        display: flex;
        letter-spacing: 4px;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
    .small-text {
        font-weight: 500;
        font-size: 1.1rem;
        @include themed() {
            color: t($greytextgrey);
        }
    }
    .span-active-text {
        color: #EF0107;
    }
}
