//Light colors
$primary--light: #6ddfd8;
$secondary--light: #04294b;

$primary-lightened: rgba(109, 223, 216, 0.2);

$background--light: white;
$background-alt--light: white;

$text-black--light: black;
$text-white--light: white;
$text-grey--light: #979797;

$input-focused--light: #f0f0f0;

$inverter--light: 0;

$text--light: #000;
$text-hover-light: #fbfbfb;
$nav-text--light: #b4b4b4;

$shadow-lg--light: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-md--light: 4px 4px 14px rgba(0, 0, 0, 0.19);
$shadow-sm--light: 0px 4px 5px rgba(0, 0, 0, 0.07);

$button-config-light: #f8f8f8;
$frosted-light: #e4f6f4;

//Dark colors

$primary--dark: #6ddfd8;
$secondary--dark: #04294b;

$background--dark: black;
$background-alt--dark: rgba(55, 54, 55, 1);

$text-black--dark: white;
$text-white--dark: black;
$text-grey--dark: #979797;

$input-focused--dark: #fdfdfd;

$inverter--dark: 1;

$text-hover-dark: #fbfbfb;
$nav-text--dark: #b4b4b4;

$shadow-lg--dark: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-md--dark: 4px 4px 14px rgba(0, 0, 0, 0.19);
$shadow-sm--dark: 0px 4px 5px rgba(0, 0, 0, 0.07);

$button-config-dark: hsl(0 0% 10%);
$frosted-dark: #e4f6f4;

// dashboard colors

$back_bg_dash: #e7f8f7;
$back_exterior: rgba(196, 196, 196, 0.22);
$back_text_color: rgba(0, 0, 0, 0.5);

$standard_interior: #57b2b9;

// light modes

$back_export_color-white: #7ffe9b;

$text-color-blue-light: #0480b8;

// dark modes

// new color

// light theme

$background-color--light-bg: #fff2e1;

$text-light-white: black;
$mytext-light-grey: #2f327d;
$mytext-light-grey-one: #696984;
$mytext-light-grey-fixed: #2f327d;

// dark theme

$background-color--dark-bg: black;
$text-dark-white: white;
$mytext-dark-grey: white;
$mytext-dark-grey-one: white;
$mytext-dark-grey-fixed: #2f327d;

