@use "sass" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    outline: none;
}

// desktop

.Dektop-section {
    width: 100%;
    height: auto;
    // margin-bottom: 10%;
    @include themed() {
        background: t($background);
        color: t($text);
    }
}

// tablet

.Tablet-section {
    width: 768px;
    height: auto;
    // margin-bottom: 10%;
    @include themed() {
        background: t($background);
        color: t($text);
    }
}

// mobile
.Mobile-section {
    width: 375px;
    margin: 0 auto;

    @include themed() {
        background: t($background);
        color: t($text);
    }
}

.loader-section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f9edde;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
}

.cycle-image {
    width: 60%;
    height: 100%;
    object-fit: contain;
    animation: cycleimage 5s ease-in-out infinite;
}

.rockt-image {
    position: absolute;
    left: 0;
    height: 15%;
    object-fit: contain;
    top: 10%;
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 5s;
}

@keyframes cycleimage {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.4);
    }
}

@keyframes run {
    0% {
        transform: translateY(40px);
        transform: translateX(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

// header main section css

.main-section {
    width: 100%;
    height: 100%;
    .header-section-top {
        width: 100%;
    }

    .body-sections {
        height: 80%;
        position: relative;
    }
}

.middle-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    z-index: 9898989898 !important;

    .list-names {
        display: flex;
        gap: 40px;
        cursor: pointer;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0%;
        padding: 0px 20px;
        width: 8%;
        height: 100%;
        z-index: 9898989898 !important;
        @include xsBreakPoint {
            right: 4%;
        }
        @include smBreakPoint {
            right: 4%;
        }
        @include mdBreakPoint {
            right: 2%;
        }
    }
    .activeclass {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        // padding: 2px 10px;
        border-radius: 10px;
        color: #5380ea;
        width: auto;
        flex-direction: column;
    }
    .inactiveclass {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 10px;
        border-radius: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color:#EF0107;
        color: white;
        animation: topicon 5s ease-in-out;
        transition: 1s;
    }

    .light-theme {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #EF0107;
        justify-content: center;
    }
    .dark-theme {
        width: 30px;
        height: 30px;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .suns {
        animation: sun 5s ease-in-out infinite;
    }
}

.active-texts {
    font-size: 0.784rem !important;
}

@keyframes sun {
    0% {
        transform: rotate(360deg);
    }
}

// color

.setting-color {
    position: fixed;
    top: 8%;
    width: 35px;
    height: 35px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00b7ff;
    background-color: white;
    cursor: pointer;
    z-index: 989898 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box-setting-colors {
    position: absolute;
    top: 130%;
    left: 3%;
    width: 200px;
    height: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 70px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 15px 0px;
    @include xsBreakPoint {
        width: 270px;
        height: auto;
    }
    .box-color {
        @include xsBreakPoint {
            width: 25%;
        }
    }
}

.setcolor {
    animation: colorset 5s ease-in-out infinite;
}

.color-box-shadow {
    width: 25px;
    height: 25px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

@keyframes colorset {
    0% {
        transform: rotate(360deg);
    }
}

.logo-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f3e8dc;
    transition: 1s;
    color: #00b7ff;
    font-size: 1.3rem;
}

.inactiveclass:hover {
    transform: translateY(-12px) rotate(360deg);
}

.vigneshwar {
    background-color: #00b7ff !important;
}

.mouse-section {
    z-index: 9898989898989898989898989898989 !important;
}
